<div class="card">

  <div class="header">
      <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">

      <form #conny="ngForm" roundtrip>
          <div class="form-group">
              <label>From:</label>
              <input #cool="ngModel" [(ngModel)]="from" name="from" class="form-control" required minlength="3"
              [city]="['Graz', 'München', 'Hamburg']" cityasync>
          </div>
          <div
          *ngIf="conny?.controls['from']?.hasError('minlength')"
          class="alert alert-danger"
          >
          You must provide
            {{conny?.controls['from']?.errors?.minlength?.requiredLength}} letters but you provided
            {{conny?.controls['from']?.errors?.minlength?.actualLength}} letters.
          </div>
          <div
          *ngIf="conny?.controls['from']?.hasError('required')"
          class="alert alert-danger"
          >
          This field is required
          </div>
          <div
          *ngIf="conny?.controls['from']?.hasError('city')"
          class="alert alert-danger"
          >
          This field has no valid city
          {{conny?.controls['from']?.errors?.city |json}}
          </div>
          <div
          *ngIf="conny?.controls['from']?.hasError('cityasync')"
          class="alert alert-danger"
          >
          This field has no valid cityasync
          {{conny?.controls['from']?.errors?.cityasync |json}}
          </div>
          <div
          *ngIf="conny?.hasError('roundtrip')"
          class="alert alert-danger"
          >
          This is a rountrip !!!
          {{conny?.errors?.roundtrip |json}}
          </div>
          <div class="form-group">
              <label>To:</label>
              <input [(ngModel)]="to" name="to" class="form-control">
          </div>

          <div class="form-group">
          <button
              [disabled]="conny?.invalid"
              (click)="search()"
              class="btn btn-default">Search</button>
          </div>

        <pre>
            {{cool?.invalid}}
          </pre>
      </form>

  </div>
</div>

<div class="row">
  <div
      *ngFor="let f of flights"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
          [item]="f"
          [(selected)]="basket[f.id]">
      </app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
      <pre>{{ basket | json }}</pre>
  </div>
</div>
